{% extends 'user_layout.twig' %}

{% block title %}Users List{% endblock %}
{% block content %}
    <div class="flex flex-col w-full ">
        <div class="-m-1.5 overflow-x-auto">
            <div class="p-1.5 min-w-full inline-block align-middle">
                <div class="overflow-hidden">
                    <table class="max-w-screen-xl w-full divide-y divide-gray-200 dark:divide-gray-700">
                        <thead>
                        <tr>
                            <th scope="col" class="px-6 py-3 text-center font-bold text-xs text-gray-500 dark:text-gray-300 uppercase">ID Murid</th>
                            <th scope="col" class="px-6 py-3 text-center font-bold text-xs text-gray-500 dark:text-gray-300 uppercase">No. Telefon</th>
                            <th scope="col" class="px-6 py-3 text-center font-bold text-xs text-gray-500 dark:text-gray-300 uppercase">User Operations</th>
                        </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 dark:divide-gray-700 text-center">
                        {% for user in users %}
                            {% set id = user.idMurid %}
                            <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                                <td class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">{{ id }}</td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200">{{ user.noTel }}</td>
                                <td class="px-0 py-3 whitespace-normal text-center text-gray-700 dark:text-gray-300 text-sm font-medium">
                                    <!-- Icon for READ start -->
                                    <div class="hs-tooltip inline-block [--placement:bottom]">
                                        <a class="c-nav-items-tooltip hs-tooltip-toggle" href="/users/{{ id }}/read">
                                            <i class="fa-duotone fa-book fa-xl"></i>
                                            <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible c-tooltip" role="tooltip">Read User Data</span>
                                        </a>
                                    </div>
                                    <!-- Icon for READ end -->

                                    <!-- Icon for EDIT start -->
                                    <div class="hs-tooltip inline-block [--placement:bottom]">
                                        <a class="c-nav-items-tooltip hs-tooltip-toggle" href="/users/{{ id }}/update">
                                            <i class="fa-duotone fa-pencil fa-xl"></i>
                                            <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible c-tooltip" role="tooltip">Edit User Data</span>
                                        </a>
                                    </div>
                                    <!-- Icon for EDIT end -->

                                    <!-- Icon for DELETE start -->
                                    <div class="hs-tooltip inline-block [--placement:bottom]">
                                        <a class="delete-user c-nav-items-tooltip hs-tooltip-toggle" href="#" data-id="{{ id }}">
                                            <i class="fa-duotone fa-trash fa-xl"></i>
                                            <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible c-tooltip" role="tooltip">Delete User</span>
                                        </a>
                                    </div>
                                    <!-- Icon for DELETE end -->

                                    <!-- Icon for ANALYSIS start -->
                                    <div class="hs-tooltip inline-block [--placement:bottom]">
                                        <a class="c-nav-items-tooltip hs-tooltip-toggle" href="/users/{{ id }}/analysis">
                                            <i class="fa-duotone fa-chart-pie-simple fa-xl"></i>
                                            <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible c-tooltip" role="tooltip">User Attendance Analysis</span>
                                        </a>
                                    </div>
                                    <!-- Icon for ANALYSIS end -->

                                    <!-- Icon for ATTENDANCE start -->
                                    <div class="hs-tooltip inline-block [--placement:bottom]">
                                        <a class="c-nav-items-tooltip hs-tooltip-toggle" href="/users/{{ id }}/kehadiran">
                                            <i class="fa-duotone fa-clipboard-user fa-xl"></i>
                                            <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible c-tooltip" role="tooltip">Edit Attendance</span>
                                        </a>
                                    </div>
                                    <!-- Icon for ATTENDANCE end -->
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4 space-x-5 flex justify-between">
        <a href="/users/create" class="inline-block px-4 py-2 bg-teal-500 dark:bg-teal-700 dark:hover:bg-teal-900 text-white rounded-md hover:bg-teal-600 transition duration-300">Create New User <i class="fa-duotone fa-user-plus"></i></a>
        <a href="/kehadiran/upload" class="inline-block px-4 py-2 bg-gray-400 text-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 dark:text-white rounded-md hover:bg-gray-600 hover:text-gray-300 transition duration-300">Upload Attendance CSV <i class="fa-duotone fa-upload"></i></a>
    </div>

    <script src="{{ asset('/js/users_list.js') }}"></script>
{% endblock %}