<style>
    table, tr, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 10px;
        text-align: center;
        max-width: 100vw;
    }
    #attendanceChart {
        max-width: 50vw;
        max-height: 50vh;
    }
</style>

{% if action == 'read' %}
    <table>
        <tbody>
        {% for key, value in data %}
            <tr>
                <td>{{ key }}</td>
                <td>{% if value is not iterable %}{{ value }}{% else %} {{ value|json_encode }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div>
        <h1>Attendance analysis for Student {{ data.idMurid }}</h1>
    </div>
    <div>
        <canvas id="attendanceChart"></canvas>
    </div>

    <script src="{{ asset('/js/chart.js') }}"></script>

    <script>
        const ctx = document.getElementById('attendanceChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ data.xaxis|raw }},
                datasets: [{
                    label: 'Attendance',
                    data: {{ data.kehadiran }},
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                layout: {
                    padding: 20,
                },
                responsive: true
            }
        });
    </script>
{% endif %}