{% extends 'user_layout.twig' %}
{% block title %}Announcements{% endblock %}
{% block content %}
{#    <style>#}
{#        table, tr, th, td {#}
{#            border: 1px solid black;#}
{#            border-collapse: collapse;#}
{#            padding: 10px;#}
{#            text-align: center;#}
{#            max-width: 100vw;#}
{#        }#}

{#        .content-start {#}
{#            text-align: left;#}
{#        }#}
{#    </style>#}

{#    <table>#}
{#        <thead>#}
{#        <th>Title</th>#}
{#        <th>Announcement</th>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for announcement in announcements %}#}
{#            {% if announcement[0] is not empty and announcement[1] is not empty %}#}
{#                <tr>#}
{#                    <td>{{ announcement[0] }}</td>#}
{#                    <td class="content-start">{{ announcement[1]|raw }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}

    <div class="max-w-screen-xl mx-auto grid gap-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3">
        {% for announcement in announcements %}
            {% if announcement[0] is not empty and announcement[1] is not empty %}
                {% set hash = announcement[0]|hash('md5') %}
                <!-- Announcement Card Container -->
                <div class="bg-white dark:bg-gray-800 shadow-lg rounded-lg">
                    <div class="bg-blue-500 text-white px-6 py-4 rounded-t flex justify-center items-center">
                        <h2 class="text-2xl font-semibold overflow-hidden line-clamp-1 font-chinese">{{ announcement[0] }}</h2>
                    </div>
                    <div class="p-6">
                        <p class="text-gray-700 dark:text-gray-300 max-h-60 overflow-hidden">
                            {{ announcement[1]|raw }}
                        </p>
                        <div class="mt-4">
                            <a href="#" class="text-blue-500 hover:underline" data-hs-overlay="#hs-task-created-alert-{{ hash }}">Read More</a>
                        </div>
                    </div>
                </div>
                <div id="hs-task-created-alert-{{ hash }}" class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto">
                    <div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto">
                        <div class="relative flex flex-col bg-white shadow-lg rounded-xl dark:bg-gray-800">
                            <div class="absolute top-2 end-2">
                                <button type="button" class="flex justify-center items-center size-7 text-sm font-semibold rounded-lg border border-transparent text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:border-transparent dark:hover:bg-gray-700 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" data-hs-overlay="#hs-task-created-alert-{{ hash }}">
                                    <span class="sr-only">Close</span>
                                    <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                                </button>
                            </div>

                            <div class="p-4 sm:p-10 text-center overflow-y-auto">
                                <h3 class="mb-2 text-xl font-bold text-gray-800 dark:text-gray-200 font-chinese">
                                    {{ announcement[0] }}
                                </h3>
                                <p class="text-white font-chinese text-left p-3">{{ announcement[1]|raw }}</p>

                                <div class="mt-6 flex justify-center gap-x-4">
                                    <button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" data-hs-overlay="#hs-task-created-alert-{{ hash }}">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Announcement Card Container -->
            {% endif %}

        {% endfor %}
    </div>
{% endblock %}